html {
	margin: 20px;
	background-color: #411267fe;
}

body {
   font-family: "Lucida Console", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #f5f0f8fe;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}

.topnav {
	background-color: rgb(247, 244, 244);
	overflow: hidden;
  }
  
  .topnav a {
	float: left;
	color: #171616;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #bc219d;
	color: white;
  }