html {
	margin: 20px;
	background-color: #411267fe;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: rgb(253, 250, 250)255, 255, 255);
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}