html {
	margin: 20px;
	background-color: #000000fe;
}

body {
   font-family: "Arial";
   font-weight: 300;
   color: #dededefe;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
	color:#ffffff;
	white-space: nowrap;
}

p {
	font-size: 20px;
	color: #000000;
}

.topnav {
	background-color: rgb(255, 251, 251);
	overflow: hidden;
	border-radius: 10px;
  }
  
  .topnav a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #8612a2;
	color: black;
  }
  
  .topnav a.active {
	background-color: #541364;
	color: white;
  }

.contact {
	background-color: #30063a;
	border-radius: 10px;
	padding: 20px 20px;
}

.contacts {
	width: 60px;
	border-radius: 8px;
	background-color: white;
}

.projects {
	background-color: #30063a;
	border-radius: 10px;
	padding: 20px 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;	
}

.proj_desc {
	color:white;
	margin-left: 20px;
}

.proj_img {
	width: 250px;
	margin-left: 20px;
	object-fit: contain;
}

.about_me {
	background-color: #30063a;
	border-radius: 10px;
	padding: 1px 20px;
	display: flex;
}

.pfp {
	width: 200px;
	padding: 20px 0px;
	border-radius: 50px;
}

.link {
	color: aqua;
}

.logo {
	width: 100px;
	object-fit: contain;
	margin-right: 1rem;
}

.head {
	display: flex;
}

@media only screen and (max-width: 1100px){
	.projects {
		display: block;
	}
	
	.about_me {
		display: block;
	}
}